# Build artifacts
dist/
bin/
obj/
*.o
*.d
*.a
*.so
*.exe
*.arm64

# Logs
*.log

# Python
__pycache__/
*.py[cod]
*$py.class

# IDEs
.vscode/
.idea/
*.swp
*.swo

# Dependencies
node_modules/

# OS files
.DS_Store
Thumbs.db

# Reference Theme
es-theme-colorful-v2-main/

fire4arkos-ondevice/

fire4arkos